# Ignore OS-specific files
.DS_Store

# Ignore Python bytecode and cache
*.pyc
__pycache__/

# Ignore Python virtual environments
/env
venv/

# Ignore environment variables (prevent secrets from being copied)
.env
/env
*.env

# Ignore editor settings
.vscode/
.idea/

# Ignore Git metadata (not needed in the image)
.git/
.gitignore

# Ignore Docker-specific files
.dockerignore
